body {
    font-family: Arial, sans-serif;
}

.formClass {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f3f3f3;
}

.formContent, .formEditor {
    width: 45%;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}

input[type="text"], select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

label {
    font-size: 16px;
}

button {
    cursor: pointer;
    background-color: #762cdc;
    color: white;
    
}
.delBut{
    width: 2.5rem;

}

button:hover {
    background-color: #3700b3;
}

.buttonDel{
    display: flex;
    justify-content: end;
    width: auto;
}
